<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title><%= title %></title>
</head>
<body>
    <nav>
      <a href="/characters" <%- title === 'All Characters' ? 'class="active"' : '' %>>ALL CHARACTERS</a>
      <a href="/quotes" <%- title === 'All Quotes' ? 'class="active"' : '' %>>ALL QUOTES</a>
      <a href="/characters/new" <%- title === 'Add Character' ? 'class="active"' : '' %>>ADD CHARACTER</a>
      <a href="/quotes/new" <%- title === 'Add Quote' ? 'class="active"' : '' %>>ADD QUOTE</a>
    </nav>
    <main>
    <h1><%= title %></h1>