<%- include('../partials/header') %>
<table class ='character-table'>
<thead>
    <tr>
      <th>Name</th>
      <th>Bio and Quotes Link</th>
      <th class="delete-column"></th>
    </tr>
  </thead>
  <tbody>
    <% characters.forEach(function(c) { %>
      <tr>
        <td><%= c.name %></td>
        <td><a href="/characters/<%= c._id %>">++++++</a></td>
        <td class="delete-cell">
          <form action="/characters/<%= c.id %>?_method=DELETE"
          class="delete-form" method="POST">
          <button type="submit">Delete</button>
          </form>
        </td>
      </tr>
      <% }); %>
    </tbody>
</table>


<%- include('../partials/footer') %>