<%- include('../partials/header') %>
<table>
<thead>
    <tr>
      <th>Speaker</th>
      <th>Quote</th>
    </tr>
  </thead>
  <tbody>
    <% quotes.forEach(function(q) { %>
      <tr>
        <td><%= q.saidBy %></td>
        <td>"<%= q.quote %>"</td>
        <td><form action="/quotes/<%= q.id %>?_method=DELETE"
          class="delete-form" method="POST">
          <button type="submit">X</button>
        </form></td>
      </tr>
      <% }); %>
    </tbody>
</table>


<%- include('../partials/footer') %>